/*****************
General Formatting
******************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    /* centers header and footer content horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

aside {
    padding: .5rem;
    background-color: lightblue;
}

article {
    padding: .5rem;
    background-color: lightcyan;
}

nav {
    background-color: lavenderblush;
}

#extracredit {
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid darkblue;
}


/**************
Your Formatting
***************/

header {
    grid-area: header;
}


footer {
    grid-area: footer
}


#yourgrid{
    display: grid;
    height: 100vh;
    grid-template-areas: "header" "sidenav" "article" "sidebar" "footer";
    grid-template-rows: 1fr 2fr 10fr 2fr;
}

article, nav, aside {

    /* formatting for visual clarity */
   
    margin: .5rem;
    padding: .5rem;
}


@media screen and (min-width: 760px){
    #yourgrid {
        grid-template-areas: "header header header"  /* 1st row: header spans three columns  */
        "sidenav article sidebar"  /* 2nd row: one element in each of 3 columns  */
        "footer footer footer"; /* 3rd row: footer spans three columns */
        grid-template-rows: 1fr 10fr 1fr 1fr;   /* defines relative height of four rows */
        grid-template-columns: 50% 50%;   /* defines width of the 2 equal columns */
    }


}